.containeRanking {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otherUsers {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 430px;
  top: 444px;
  left: 38px;
  gap: 0px;
  border-radius: 18px ;
  border: solid 1px #2c2154;
  padding: 1rem;
  opacity: 0px;  
  background: conic-gradient(from 0deg at 50% 62.76%, #1B1337 -118.8deg, #1B1337 106.2deg, #372D56 178.88deg, #1B1337 241.2deg, #1B1337 466.2deg);
}


.otherUser {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alineación horizontal del contenido */
  background-color: transparent; /* Fondo oscuro normal */
  padding: 10px 20px; /* Espaciado dentro del rectángulo */
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 3rem;
  max-width: 500px; /* Controlamos el ancho máximo */
  color: #fff; /* Color del texto blanco por defecto */
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho total */
}


.otherUser.alternate {
  background: linear-gradient(90deg, rgba(44, 33, 84, 0.46) 0%, rgba(97, 73, 186, 0.04) 47.5%, rgba(44, 33, 84, 0.34) 100%);
 /* Fondo violeta para los alternados */
}

.userRank {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-right: 20px; /* Separación entre el rank y la imagen */
}

.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear nombre e info a la izquierda */
  flex: 1; /* Ocupar todo el espacio disponible excepto el rank y km */
}

.userName {
  font-size: 16px;
  font-weight: bold;
}

.userScore {
  font-size: 14px;
  color: #888;
}

.userKm {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-left: auto; /* Empuja el valor de km hacia la derecha */
}
