.containerRanking {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Asegura que el componente esté centrado horizontalmente */
}

.otherUsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 430px;
  gap: 10px; /* Ajusta el espacio entre las filas de usuarios */
  border-radius: 18px;
  border: solid 1px #2c2154;
  padding: .5rem;
  background: conic-gradient(from 0deg at 50% 62.76%, #1B1337 -118.8deg, #1B1337 106.2deg, #372D56 178.88deg, #1B1337 241.2deg, #1B1337 466.2deg);
}

.otherUser {
  display: flex;
  align-items: center;
  justify-content: center; /* Asegura que los elementos estén centrados dentro de cada tarjeta */
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px; /* Controla el ancho máximo */
  color: #828bfd;
  box-sizing: border-box;
}

.otherUser.alternate {
  background: linear-gradient(90deg, rgba(44, 33, 84, 0.46) 0%, rgba(97, 73, 186, 0.04) 47.5%, rgba(44, 33, 84, 0.34) 100%);
}

.userRank {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-right: 10px; /* Reducimos el espacio entre el rank y el icono */
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.userName {
  font-size: 16px;
  font-weight: bold;
}

.userKm {
  font-size: 18px;
  font-weight: bold;
  color: #828bfd;
  margin-left: auto; /* Empuja el valor de km hacia la derecha */
}


.userIcon {
  font-size: 1.5rem;
  color: #828bfd;
  margin-right: 10px;
}
.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Hace que la imagen sea circular */
  margin-right: 10px;
  object-fit: cover; /* Asegura que la imagen se ajuste dentro del contenedor */
}