.form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado entre los campos */
    width: 100%;
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar en la página */
  }
  
  .label {
    font-size: 14px;
    color: #a8a8b3; /* Gris claro */
    margin-bottom: 8px;
  }
  
  .input,
  .select {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    color: #aaa;
    font-size: 16px;
    outline: none;
    pointer-events: none; /* Deshabilita la interacción con el campo */
  }
  
  .input:focus,
  .select:focus {
    background: rgba(255, 255, 255, 0.1); /* Cambia al enfocarse */
  }
  .passwordContainer {
    position: relative;
  }
  
  .eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
  }
  
  .open {
    color: #fff;
  }
  
  .closed {
    color: #aaa;
  }
  
 
  .avatarChangeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
  .avatar {
    width: 100%;
    max-width: 150px;  /* Tamaño máximo del avatar */
    height: auto;
    border-radius: 50%;
    object-fit: cover;  /* Asegura que la imagen mantenga su aspecto */
  }
  
  .avatarInput {
    margin-top: 10px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttonContainer {
    margin-top: 20px;
  }
  
  .saveButton, .cancelButton {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .saveButton {
    background-color: green;
    color: white;
  }
  
  .cancelButton {
    background-color: red;
    color: white;
  }
  .fileInputWrapper {
    display: flex;
    flex-direction: column; /* Colocar elementos en columna */
    align-items: flex-start; /* Alinear texto a la izquierda */
    
  }
  
  .fileInputText {
    font-size: 12px;
    color: #a8a8b3; /* Gris claro para el texto */
    margin-top: 4px; /* Espaciado entre el input y el texto */
  }
  @media (max-width: 768px) {
    .avatarChangeContainer {
      /* Cambios para pantallas medianas (tabletas) */
      padding: 20px;
    }
  
    .avatar {
      max-width: 120px;  /* Ajustamos el tamaño en pantallas más pequeñas */
    }
  
    .avatarInput {
      font-size: 12px;
      padding: 4px;
    }
  }
  
  @media (max-width: 480px) {
    .avatarChangeContainer {
      /* Cambios para pantallas pequeñas (móviles) */
      padding: 15px;
    }
  
    .avatar {
      max-width: 100px;  /* Ajustamos aún más el tamaño en pantallas muy pequeñas */
    }
  
    .avatarInput {
      font-size: 10px;
      padding: 3px;
    }
  }