.form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado entre los campos */
    width: 100%;
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar en la página */
  }
  
  .label {
    font-size: 14px;
    color: #a8a8b3; /* Gris claro */
    margin-bottom: 8px;
  }
  
  .input,
  .select {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    color: #aaa;
    font-size: 16px;
    outline: none;
    pointer-events: none; /* Deshabilita la interacción con el campo */
  }
  
  .input:focus,
  .select:focus {
    background: rgba(255, 255, 255, 0.1); /* Cambia al enfocarse */
  }
  .passwordContainer {
    position: relative;
  }
  
  .eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
  }
  
  .open {
    color: #fff;
  }
  
  .closed {
    color: #aaa;
  }
  
 
  .avatarChangeContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .avatarInput {
    padding: 5px;
    font-size: 14px;
  }
  
  .buttonContainer {
    margin-top: 20px;
  }
  
  .saveButton, .cancelButton {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .saveButton {
    background-color: green;
    color: white;
  }
  
  .cancelButton {
    background-color: red;
    color: white;
  }
  