/* Estilos corregidos con borde en gradiente personalizado */
.rankingCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  padding-top: 100px;
  margin: 0 auto;
}

.top3 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
}

.userCard:nth-child(1) {
  position: absolute;
  top: -40px; /* Ajusta este valor para centrar verticalmente */
  left: 50%;
  transform: translateX(-50%) scale(1.2); /* Escalamos a Lorena para destacarla y centramos horizontalmente */
}

.userImage {
  position: relative;
  border-radius: 50%;
  padding: 4px; /* Espacio para el borde */
  /* El fondo dinámico se aplicará desde los estilos en línea */
}

.image {
  border-radius: 50%;
  display: block;
  border: 4px solid transparent; /* Evitar que la imagen se superponga al borde */
  background-clip: padding-box;
}

.userInfo {
  text-align: center;
  margin-top: 10px;
}

.userInfo h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.userInfo p {
  margin: 0;
  font-size: 14px;
  color: #888;
}
