/* Estilos corregidos con borde en gradiente personalizado */
.topThreeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  padding-top: 100px;
  margin: 0 auto;
}

.topThree {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.userAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
}

.userAvatar:nth-child(1) {
  position: absolute;
  top: -40px; /* Ajusta este valor para centrar verticalmente */
  left: 50%;
  transform: translateX(-50%) scale(1.2); /* Escalamos a Lorena para destacarla y centramos horizontalmente */
}

.userImage {
  position: relative;
  border-radius: 50%;
  padding: 4px; /* Espacio para el borde */
  padding: 2px; 
  background: linear-gradient(to right, rgb(217, 203, 245),rgb(108, 74, 176), rgb(101, 53, 189), rgb(60, 33, 117));
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.image {
  border-radius: 50%;
  display: block;
  border: 4px solid transparent; /* Evitar que la imagen se superponga al borde */
  background-clip: padding-box;
  
}

.userInfo {
  text-align: center;
  margin-top: 10px;
}

.userInfo h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.userInfo p {
  margin: 0;
  font-size: 14px;
  color: #888;
}
